.search {
  label {
    display: block;
  }
  input {
    padding: 0.55rem;
    margin-top: 0.5rem;
    max-width: 310px;
    border: solid 1px #bababa;
    border-radius: 0.25rem;
  
    font-size: 1rem;
    @media (max-width: 350px) {
      width: 310px;
    }
  }
}